@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(120deg, rgb(174, 174, 216), white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0.5;

}

.img img {
    display: to left;
    padding: 50px;
    height: 20vh;
    margin: 0;
}

.container {
    color: rgb(186, 120, 248);
    border: 2px solid black;
    padding: 20px;
    border-radius: 30px;
    background-color: #494949;
}

.list {
    color: lightgray;
    padding: 20x;
}

.link {
    color: rgb(186, 120, 248);;
}

a {
    color: white;
    transition: color 0.5s;
    display: block;
    margin-bottom: 10px;
}

a:hover {
    color: black;
}

i {
    color: rgb(29, 21, 21)
}